.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: rgb(21, 63, 27);
    color: rgb(230, 226, 226);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .logo{
    width: max(12%, 80px);
    border-radius: 5px;
}

.navbar .profile{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-right: 5px;
}

.profile-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}