.navbar {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(54, 49, 49, 0.45) 0px 25px 20px -20px;
    background-color: rgb(29, 42, 30);
}

.navbar .logo {
    width: 150px;
    border-radius: 5px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #e1e4ed;
    font-size: 18px;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right img {
    cursor: pointer;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #e1e4ed;
    border: 1px solid rgb(35, 156, 2);
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

.navbar button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #05a415;
    color: white;
}

.navbar-search {
    border: 1px solid rgb(10, 167, 54);
    border-radius: 4px;
    outline: none;
    padding: 2px;
    display: flex;
}

.navbar-search input {
    outline: none;
    padding: 2px;
}

.navbar-basket-icon {
    position: relative;
}

.navbar-basket-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(41, 245, 51);
    border-radius: 5px;
    top: -5px;
    right: -2px;
}

.navbar-profile {
    position: relative;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(6, 175, 35);
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-profile-dropdown img {
    width: 20px;
}

.navbar-profile-dropdown li:hover {
    color: tomato;
}


@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }

}

@media (max-width:750px) {
    .navbar .logo {
        width: 70px;
    }

    .navbar-menu {
        gap: 10px;
        font-size: 11px;
    }

    .navbar-search {
        display: none;
    }

    .navbar-right img {
        width: 12px;
    }

    .navbar-right button {
        padding: 4px 2px;
        font-size: 10px;
    }

}