.explore-menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 2px 30px;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.explore-menu h1 {
    margin-top: 30px;
    color: #262626;
    font-weight: 500;
}

.explore-menu-text{
    max-width: 60%;
    columns: #808080;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    text-align: center;
    margin: 10px 0px;
    /* overflow-x: hidden; */
    /* overflow-x: scroll; */
}

.explore-menu-list ::-webkit-scrollbar{
   display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p{
   margin-top: 5px;
   color: #747474;
   font-size: max(1.5vw, 16px);
   cursor: pointer;
   /* margin-bottom: 20px; */
   font-weight: 500;
}

.explore-menu hr{
   margin: 15px 0px;
   height: 2px;
   background-color: #e2e2e2;
   border: none;
}

.explore-menu-list-item .active{
    border: 4px solid rgb(11, 105, 36);
    padding: 2px;
}
.explore-menu-list-item .text-menu{
    color: rgb(2, 67, 20);
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}